
# --- Python & UV ---
__pycache__/
*.py[cod]
.venv/
.env
.hydra/*
.ipynb_checkpoints/
# --- Jupyter ---
.ipynb_checkpoints/
outputs/*
# --- For Apple Lovers ---
.DS_Store

# --- Data/Output (Ignore files, keep scripts & structure) ---
/data/*
!/data/*.py
!/data/.gitkeep
output/*
wandb/
# --- Models (Ignore weights, keep code & structure) ---
models/*
!models/*.py
!models/.gitkeep

# --- Reports (Ignore generated figures, keep structure) ---
reports/figures/*
!reports/figures/.gitkeep
/data
/dataset/*

.dvc/config.local
.dvc/tmp
.dvc/cache/files/md5/*
.dvc/cache/*